<div class="flex flex-col md:flex-row items-center gap-8 mt-5">
   <!--IMAGES-->
   <div class="carousel-container md:w-1/2 w-full h-full">
      <ul class="carousel my-carousel carousel--thumb h-96 inset-0 p-10">
         <ng-container *ngFor="let image of product.images; let i = index" class="">
            <input class="carousel__activator" type="radio" id="{{ 'radio-' + i }}" name="thumb" [checked]="i === 0" />
            <li class="carousel__slide" >
               <img [src]="getBackgroundStyle(i)" alt="" srcset="" class="object-contain h-full w-full">
            </li>
            <div class="carousel__controls">
               <label class="carousel__control carousel__control--backward"
                  for="{{ 'radio-' + ((i - 1 + product.images.length) % product.images.length) }}"></label>
               <label class="carousel__control carousel__control--forward"
                  for="{{ 'radio-' + ((i + 1) % product.images.length) }}"></label>
            </div>
         </ng-container>
         <div class="carousel__indicators">
            <label class="carousel__indicator" for="{{ 'radio-' + i }}" *ngFor="let image of product.images; let i = index"
               >
               <img [src]="getBackgroundStyle(i)" alt="" srcset="" class="object-contain h-full w-full rounded-full">
            </label>
         </div>
      </ul>
   </div>
   
   <!--INFO-->
   <div class="w-full md:w-1/2 pl-3 flex flex-col gap-2">
      

      <!-- Name & stock label -->
      <div class="title flex items-center h-fit justify-between w-full">
         <h3 class="text-3xl font-semibold">{{product.name}}</h3>
         <p *ngIf="product.numberInStock > 0" class="inStock text-dark-green px-2 h-fit">In Stock</p>
         <p *ngIf="product.numberInStock <= 0" class="outOfStock text-bright-red px-2 h-fit">Out of Stock</p>
      </div>
      <!-- Rating -->
      <div class="flex h-fit justify-between w-full">
         <div class="stars flex items-center mt-1">
            <div *ngFor="let i of getRange(product.rating)">
               <svg class="w-4 h-4 text-yellow-300 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                     d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
               </svg>
            </div>
            <div *ngFor="let i of getRange(5-product.rating)">
               <svg class="w-4 h-4 text-gray-300 me-1 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                  <path
                     d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
               </svg>
            </div>
         </div>
         <p class="text-sm"><b>SKU: </b>{{product.SKU}}</p>
      </div>
      <!-- Price and discount -->
      <div class="price flex gap-2 items-center">
         <p class="text-xl price" [ngClass]="product.discountPrice == 0 ? 'price' : 'oldPrice'">{{product.price | currency}}</p>
         <p *ngIf="product.discountPrice!=0" class="text-xl price">{{product.discountPrice| currency}}</p>
         <p *ngIf="product.discountPrice != 0" class="outOfStock text-md text-bright-red px-3 h-fit !rounded-3xl">{{(product.price - product.discountPrice)/product.price | percent}} Off</p>
      </div>
      <!-- Edit Product -->
      <div *ngIf="isAdmin">
         <button type="button" class="border border-light-green px-3 py-1 rounded-full my-2 text-light-green font-semibold flex gap-2"
            [routerLink]="['/edit-product/', product.id]" [state]="{product: product}">
            Edit this product
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
               class="w-5 h-5">
               <path stroke-linecap="round" stroke-linejoin="round"
                  d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
            </svg>
         </button>
      </div>
      <div class="divider"></div>
      <!-- Brand -->
      <div class="brand">
         <p class="text-sm text-light-gray"><b>Brand: </b>{{product.brand}}</p>
      </div>
      <!-- Description -->
      <div class="description">
         <p class="text-sm text-light-gray">{{product.description}}</p>
      </div>
      <div class="divider"></div>
      <!-- Add to cart buttons-->
      <form (ngSubmit)="onAddToCart()" class="buttons flex gap-2 w-full justify-around" [formGroup]="addToCartForm">
         <!-- Quantity -->         
         <div class="flex border-gray-200 rounded-full border px-2">
            <button type="button" (click)="handleMinus()" class="h-7 w-7 rounded-full bg-gray-200 m-auto">-</button>
            <input class="text-center border-none w-10 px-0" type="number" min="1" [max]="product.numberInStock" value="1"
               formControlName="productQuantity" oninput="validity.valid||(value=1);">
            <button type="button" (click)="handlePlus()" class="h-7 w-7 rounded-full bg-gray-200 m-auto">+</button>
         </div>
         <!-- Add to cart -->
         <button [disabled]="!logged" type="submit" *ngIf="!loading"
            class="text-white h-10 bg-light-green hover:bg-dark-green font-medium text-sm w-3/4 rounded-3xl">Add to Cart
         </button>
         <button disabled *ngIf="loading"
            class="text-white h-10 bg-light-green hover:bg-dark-green font-medium text-sm w-3/4 rounded-3xl flex justify-center pt-1">
            <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin fill-gray-400" viewBox="0 0 100 101" fill="none"
               xmlns="http://www.w3.org/2000/svg">
               <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor" />
               <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
         </button>
      </form>
      <p *ngIf="!logged" class="text-bright-red">Please log in to add to cart.</p>
      <!-- Category and tags -->
      <div class="divider"></div>
      <p><b>Category: </b>{{product.category}}</p>
      <p><b>Tags: </b>
         <span *ngFor="let tag of product.tags" class="inStock mx-1 px-2">{{tag}}</span>
      </p>
   </div>
</div>



