input:focus{
   outline: none;
}

.secondary-button{
   background: rgba(86, 172, 89, 0.15);
}

.secondary-button:hover {
   background: rgba(44, 116, 47, 0.20);
}

figure {
   position: relative;
}

figure img {
   display: block;
}

figcaption {
   background: rgba(0, 0, 0, 0.5);
   color: #FFF;
   padding: 10px;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 128px;
   display: none;
}

figure:hover figcaption {
   display: block;
}

button:disabled,
button[disabled] {
   border: 1px solid #c5c5c5;
   background-color: #e5e5e5;
   color: #666666;
}


.required:after {
   content: " *";
   color: red;
}


body {
   color: #000000;
   font-family: Sans-Serif;
   padding: 30px;
   background-color: #f6f6f6;
}

a {
   text-decoration: none;
   color: #000000;
}

a:hover {
   color: #222222
}

/* Dropdown */

.dropdown {
   display: inline-block;
   position: relative;
}

.dd-button {
   border: 1px solid rgb(209 213 219);
   border-radius: 4px;
   padding: 10px 20px 10px 20px;
   background-color:rgb(249 250 251);
   cursor: pointer;
   white-space: nowrap;
   font-size: small;
   font-weight: 500;
}


.dd-button:hover {
   background-color: #eeeeee;
}


.dd-input {
   display: none;
}

.dd-menu {
   position: absolute;
   top: 100%;
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 0;
   margin: 2px 0 0 0;
   box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
   background-color: #ffffff;
   list-style-type: none;
}

.dd-input+.dd-menu {
   display: none;
}

.dd-input:checked+.dd-menu {
   display: block;
}

.dd-menu li {
   padding: 10px 20px;
   cursor: pointer;
   white-space: nowrap;
}

.dd-menu li:hover {
   background-color: #f6f6f6;
}

.dd-menu li a {
   display: block;
   margin: -10px -20px;
   padding: 10px 20px;
}

.dd-menu li.divider {
   padding: 0;
   border-bottom: 1px solid #cccccc;
}